{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Delete Rating
{% endblock %}

{% block body_block %}
      <!-- Not sure should we use this page, the page file can delete the rate now. -->
 <!-- show the title of delete rate page  -->
<div class="row">
    <h2 class="mt-3 mb-3">Delete your rate</h2>
    <form method="post" action=".">
        {% csrf_token %}
     <!-- Test the button link, need to repalce with the rate_club.html  -->
          
            <a href="" class="card-link">
                <button type="button" class="btn btn-primary">Complete</button>
            </a>
        </div>
    </form>
  
</div> 
{% endblock %}